.App {
  display: grid;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: [header] 20vmin [main] auto;
}

.App-header {
  grid-row-start: header;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
