:root {
  --bar-color: rgb(167, 101, 39);
  --light-color: bisque;
  --dark-color: rgb(61, 33, 13);
}

.board {
  margin-top: 10px;
  margin-left: 33vw;
  height: 33vw;
  width: 33vw;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr 1fr;
}

.point-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.point-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.bar {
  background-color: var(--bar-color);
  grid-column: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
