:root {
  --bar-color: rgb(167, 101, 39);
  --light-point-color: bisque;
  --dark-point-color: rgb(61, 33, 13);
  --light-checker-color: white;
  --dark-checker-color: red;
}

.board {
  margin-top: 10px;
  margin-left: 15vw;
  height: 70vw;
  width: 70vw;

  background-color: rgb(212, 178, 137);

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr 10fr 10fr 1fr;
}

.point {
  position: relative;
}

.point-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.checker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.point-top-row {
  flex-direction: column;
}

.point-bottom-row {
  flex-direction: column-reverse;
}

.point-dark {
  fill: var(--dark-point-color);
}

.point-light {
  fill: var(--light-point-color);
}

.point-number {
  display: grid;
  align-content: center;
}

.bar {
  background-color: var(--bar-color);
  grid-column: 7;
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.checker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.checker-light {
  background-color: var(--light-checker-color);
}

.checker-dark {
  background-color: var(--dark-checker-color);
}

.move-input-form {
  margin: 1em auto;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.5em;
}

.move-input-form__label {
  display: block;
  text-align: left;
}

.move-input-form__button {
  grid-column: 1 / span 2;
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 25%;
}