:root {
  --bar-color: rgb(167, 101, 39);
  --light-point-color: bisque;
  --dark-point-color: rgb(61, 33, 13);
  --light-checker-color: white;
  --dark-checker-color: red;
}

.board {
  margin-top: 10px;
  margin-left: 15vw;
  height: 70vw;
  width: 70vw;

  background-color: rgb(212, 178, 137);

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr 1fr;
}

.point {
  position: relative;
}

.point-dark {
  color: var(--light-point-color);
}

.point-light {
  color: var(--dark-point-color);
}

.bar {
  background-color: var(--bar-color);
  grid-column: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.checker {
  width: 50px;
  height: 50px;
  margin: 5%;
  border-radius: 50%;
}

.checker-light {
  background-color: var(--light-checker-color);
}

.checker-dark {
  background-color: var(--dark-checker-color);
}
